/*HEADER------------------------------------------------*/
.header-bar {
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: 0 var(--home-margins);
    position: absolute; /* 🔹 NO ocupa espacio en el flujo del documento */
}


/*INTRO------------------------------------------------*/
.intro-container {
    inset: 0;
    z-index: 2;

    .intro-title {
        padding-block: clamp(3rem, 3vw, 1rem);
    
        span {
            display: inline-block;
        }
    };

    .icon-container {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        pointer-events: none;
    
        .intro-icon {
            position: relative;
            width: clamp(2rem, 5vw, 6rem);
            height: auto;
            transform-origin: center center;
        }
    
        .circle-hj {
            position: absolute;
            top: 25%;
            left: 70%;
            border-radius: 100%;
            transform-origin: center;
            width:10px;
            height: 10px;
        }
    }
}

/*HEADER------------------------------------------------*/
.header-container {
    height: var(--header-height);
}

/*HOME------------------------------------------------*/
.home-container {
    height: 100dvh; /* 🔹 Ocupa toda la pantalla al inicio */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.5s ease-in-out;
    position: absolute; /* Permite que el header se superponga sin afectar el tamaño */
    bottom: 0;
}


.home-blue-mask {
    width: 100%;
    height: 100%;
}
